---
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

import { basics } from "@cv";
import ContentList from "@/components/shared/ContentList.astro";
import ArticleCard from "@/components/ui/ArticleCard.astro";
import type { Blog } from "@/types/content";
import BlogHero from "@/components/sections/BlogHero.astro";

const posts: Blog[] = await getCollection("blog");
const sortedPosts= posts.sort(
    (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);


const { name } = basics;
---

<BlogLayout title={`${name} - Portfolio`}>
    <main
      class="relative grid h-full max-w-7xl gap-12 p-8 max-sm:py-16 md:min-h-screen md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6 text-skin-base"
    >
      <div
        class="slide-enter space-y-6 ease-in md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0"
        >
        <BlogHero/>
      </div>
      <div
        class="slide-enter-content space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0"
        >
        <ContentList>
            {sortedPosts.map((post) => (
              <ArticleCard
                title={post.data.title}
                description={post.data.description}
                url={`/blog/${post.id}`}
                date={post.data.pubDate}
                tags={post.data.tags}
              />
            ))}
      </div>
</BlogLayout>
